<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div>
        <p style="text-align: center;"> © Anurag Pandey</p>
      </div>
      <div class="footer-col-wrapper">
        <ul class="contact-links-container">
          <a href="mailto:anurag@anuragpandey.net" title="Email"><i class="fa-solid fa-square-envelope"></i></a>
          <a href="https://x.com/ap_anuragpandey" title="X (Twitter)"><i class="fa-brands fa-square-x-twitter"></i></a>
        </ul>
      </div>
      <!-- The following code is from the default footer. I am not using any of it and I am using a basic footer. -->

      
      <!-- <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div> -->

      <!-- <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div> -->

      <!-- <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p> 
      </div> -->
    </div>

  </div>

</footer>
